<div class="container">
    <div class="card mb-3 border-0">
        <div class="row pt-5">
            <div class="col-md-4 p-3">
                <div class="card" style="width: 21rem;">
                    <img class="card-img-top" src="https://source.unsplash.com/random/300x200?sig={{@index}}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h6>Name :{{game.name}} </h6>
                        <h6>Category : {{game.category}}</h6>
                        <h6>Source : {{game.source}}</h6>
                        <h6>Link : {{game.link}}</h6>
                        <div>
                            <form action="/updateGame/{{game._id}}" method="post">
                                <div class="form-group">
                                    <label for="category">Select New Category</label>
                                    <select class="form-control" id="category" name="category">
                                        <option value="">select option</option>
                                        <option value="Race">Race</option>
                                        <option value="Puzzle">Puzzle</option>
                                        <option value="Simulation">Simulation</option>
                                        <option value="sports">sports</option>
                                        <option value="Action">Action</option>
                                        <option value="Multiplayer">Multiplayer</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Update Category</button>
                                <a href="/" class="btn btn-primary">Go Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>